body {
  font-family: 'Merriweather', serif;
  font-size: 1rem; /* Relative to the base font size set on html */
  line-height: 1.6; 
  color: #333;
  background-color: #fff; /* Default background color */
  }
  
  h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  }
  
  a {
  color: #0066CC; /* Blue color for links */
  text-decoration: none; /* No underline by default */
  }
  
  a:hover, a:focus {
  text-decoration: underline; /* Underline on hover/focus for clarity */
  color: #004499; /* Darker blue for better visibility */
  }




#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: rgb(255, 255, 255); /* Default text color */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: #555; /* General hover background */
}

#navbar a.active {
  color: #4CAF50 !important;  
}

#table-of-contents a {
  
 
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and transform */
}

#table-of-contents a:hover {
  color: #07b407; 
  
}
.portfolio-hover-image {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
