#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: rgb(255, 255, 255); /* Default text color */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: #555; /* General hover background */
}

#navbar a.active {
  color: #4CAF50 !important;  
}

#table-of-contents a {
  
  color: black; /* Default link color */
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and transform */
}

#table-of-contents a:hover {
  color: #07b407; /* Darker shade on hover, change as you like */
  transform: scale(10); /* Slightly increase the scale (size) */
}
